<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fas fa-cart-arrow-down"></i> E-commerceApp</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right: 3rem;">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/shop"><i class="fas fa-shopping-basket"></i> Shop</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/shoppingcart"><i class="fas fa-shopping-cart"></i> Shopping Cart</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-cog"></i> Manage User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngIf="!isLoggedIn" class="dropdown-item" routerLink="/signup"><i class="fas fa-user-plus"></i> Sign up</a>
          <a *ngIf="!isLoggedIn" class="dropdown-item" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Log in</a>
          <a (click)="onLogout()" *ngIf="isLoggedIn" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
