<div style="max-width: 70%; text-align: center; margin: 7rem auto">

  <div class="alert alert-danger" *ngIf="signupFailed">
    <strong>Email already registered. Try again!</strong>
  </div>

  <form [formGroup]="form">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name="email" formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password" formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
      <small id="emailHelp" class="form-text text-muted">Minimum 3 characters</small>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSignup()" [disabled]="!form.valid">Sign up</button>

    <button type="button" class="btn btn-danger" routerLink="/">Go back</button>
</form>
</div>
