ul {
  max-width: 60%;
  margin: 3rem auto;
}
span {
  background-color: rgb(77, 163, 77);
  color: white;
  display: inline-block;
  border-radius: 3px;
  width: 35px;
  text-align: center;
  margin-left: 5px;
  margin-right: 7px;
}

h5 {
  text-align: center;
}

div {
  margin: 1rem auto;
}

.btn-group {
  margin: 0;
}

span.step {
  /* background: darkred; */
  background: rgb(36, 43, 49);
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
  float: right;
}

.btn-dark {
  height: 1.2rem;
  padding-top:0px;
  /* background-color: rgb(77, 163, 77); */
  color: white;
  display: inline-block;
  border-radius: 3px;
  /* width: 35px; */
  text-align: center;
  margin-left: 88px;
}

.dropdown-menu {
  margin-top: 1px;
}
